In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow_hub as hub
import tensorflow_text as text
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import tensorflow as tf

In [ ]:
df = pd.read_csv('Book1.csv')

In [ ]:
df.head()

,Date,Mode,Category,Subcategory,Note,Amount,Unnamed: 6,Currency
0,20-09-2018 12:04,Cash,Transportation,Train,2 Place 5 to Place 0,30.0,NaN,INR
1,20-09-2018 12:03,Cash,Food,snacks,Idli medu Vada mix 2 plates,60.0,NaN,INR
2,19-09-2018,Saving Bank account 1,subscription,Netflix,1 month subscription,199.0,NaN,INR
3,17-09-2018 23:41,Saving Bank account 1,subscription,Mobile Service Provider,Data booster pack,19.0,NaN,INR
4,16-09-2018 17:15,Cash,Festivals,Ganesh Pujan,Ganesh idol,251.0,NaN,INR

In [ ]:
df.isnull().sum()/len(df)

Date           0.000000
Mode           0.000000
Category       0.000000
Subcategory    0.247054
Note           0.202763
Amount         0.000000
Unnamed: 6     1.000000
Currency       0.000000
dtype: float64

In [ ]:
df.shape

(2461, 8)

In [ ]:
df.drop('Unnamed: 6',inplace=True,axis=1)

In [ ]:
data=df.dropna(inplace=False,axis='rows')

In [ ]:
data.shape

(1600, 7)

In [ ]:
data.isnull().sum()

Date           0
Mode           0
Category       0
Subcategory    0
Note           0
Amount         0
Currency       0
dtype: int64

In [ ]:
data.head()

,Date,Mode,Category,Subcategory,Note,Amount,Currency
0,20-09-2018 12:04,Cash,Transportation,Train,2 Place 5 to Place 0,30.0,INR
1,20-09-2018 12:03,Cash,Food,snacks,Idli medu Vada mix 2 plates,60.0,INR
2,19-09-2018,Saving Bank account 1,subscription,Netflix,1 month subscription,199.0,INR
3,17-09-2018 23:41,Saving Bank account 1,subscription,Mobile Service Provider,Data booster pack,19.0,INR
4,16-09-2018 17:15,Cash,Festivals,Ganesh Pujan,Ganesh idol,251.0,INR

In [ ]:
data['Category'].nunique()

20

In [ ]:
data['Category'].unique()

array(['Transportation', 'Food', 'subscription', 'Festivals', 'Other',
       'Financial Services', 'Family', 'Apparel', 'Gift', 'Salary',
       'Household', 'Beauty', 'Health', 'Culture', 'Tourism', 'Education',
       'Documents', 'Social Life', 'Investment', 'Grooming'], dtype=object)

In [ ]:
data['Category'].replace('Grooming', 'Personal Care',inplace=True)
data['Category'].replace('Beauty', 'Personal Care',inplace=True)
data['Category'].replace('Investment', 'Financial Services',inplace=True)
data['Category'].replace('Apparel', 'Household',inplace=True)
data['Category'].replace('Culture', 'Travel and Culture',inplace=True)
data['Category'].replace('Tourism', 'Travel and Culture',inplace=True)

<ipython-input-88-fc7f6d3264cb>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Grooming', 'Personal Care',inplace=True)
<ipython-input-88-fc7f6d3264cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Grooming', 'Personal Care',inplace=True)
<ipython-input-88-fc7f6d3264cb>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Beauty', 'Personal Care',inplace=True)
<ipython-input-88-fc7f6d3264cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Beauty', 'Personal Care',inplace=True)
<ipython-input-88-fc7f6d3264cb>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Investment', 'Financial Services',inplace=True)
<ipython-input-88-fc7f6d3264cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Investment', 'Financial Services',inplace=True)
<ipython-input-88-fc7f6d3264cb>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Apparel', 'Household',inplace=True)
<ipython-input-88-fc7f6d3264cb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Apparel', 'Household',inplace=True)
<ipython-input-88-fc7f6d3264cb>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Culture', 'Travel and Culture',inplace=True)
<ipython-input-88-fc7f6d3264cb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Culture', 'Travel and Culture',inplace=True)
<ipython-input-88-fc7f6d3264cb>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Category'].replace('Tourism', 'Travel and Culture',inplace=True)
<ipython-input-88-fc7f6d3264cb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category'].replace('Tourism', 'Travel and Culture',inplace=True)

In [ ]:
data['Category'].unique()

array(['Transportation', 'Food', 'subscription', 'Festivals', 'Other',
       'Financial Services', 'Family', 'Household', 'Gift', 'Salary',
       'Personal Care', 'Health', 'Travel and Culture', 'Education',
       'Documents', 'Social Life'], dtype=object)

In [ ]:
data['Category'].nunique()

16

In [ ]:
data.drop(data[data['Category'] == 'Social Life'].index, inplace=True)

<ipython-input-91-3c14a4f630c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data['Category'] == 'Social Life'].index, inplace=True)

In [ ]:
data['Category'].unique()

array(['Transportation', 'Food', 'subscription', 'Festivals', 'Other',
       'Financial Services', 'Family', 'Household', 'Gift', 'Salary',
       'Personal Care', 'Health', 'Travel and Culture', 'Education',
       'Documents'], dtype=object)

In [ ]:
data['Category'].nunique(0)

15

In [ ]:
encoder = LabelEncoder()
data['target'] = encoder.fit_transform(data['Category'])

<ipython-input-94-425ee36df9bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target'] = encoder.fit_transform(data['Category'])

In [ ]:
data.head()

,Date,Mode,Category,Subcategory,Note,Amount,Currency,target
0,20-09-2018 12:04,Cash,Transportation,Train,2 Place 5 to Place 0,30.0,INR,12
1,20-09-2018 12:03,Cash,Food,snacks,Idli medu Vada mix 2 plates,60.0,INR,5
2,19-09-2018,Saving Bank account 1,subscription,Netflix,1 month subscription,199.0,INR,14
3,17-09-2018 23:41,Saving Bank account 1,subscription,Mobile Service Provider,Data booster pack,19.0,INR,14
4,16-09-2018 17:15,Cash,Festivals,Ganesh Pujan,Ganesh idol,251.0,INR,3

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data['Note'], data['target'], test_size=0.15, random_state=42)

In [ ]:
X_train

56                    Half lit  milk
73      5 litres can Distilled water
1840        apple + mosambi 1kg each
568                    At restaurant
561                        8 bananas
                    ...
1535                 2 orange juices
1764                      onion 1 kg
1161                    onion 2.5 kg
2051                   Mutual fund B
1529            2 Place 2 to Place 1
Name: Note, Length: 1359, dtype: object

In [ ]:
y_train

56       5
73       8
1840     5
568      5
561      5
        ..
1535     5
1764     5
1161     5
2051     4
1529    12
Name: target, Length: 1359, dtype: int64

In [ ]:
!pip install tensorflow-text

Requirement already satisfied: tensorflow-text in /usr/local/lib/python3.11/dist-packages (2.18.1)
Requirement already satisfied: tensorflow<2.19,>=2.18.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow-text) (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (4.25.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.70.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (3.12.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow<2.19,>=2.18.0->tensorflow-text) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (0.14.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (2025.1.31)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow<2.19,>=2.18.0->tensorflow-text) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow<2.19,>=2.18.0->tensorflow-text) (0.1.2)

In [ ]:
X_train_tensor = tf.convert_to_tensor(X_train.values.astype(str), dtype=tf.string)
y_train_tensor = tf.convert_to_tensor(y_train.values, dtype=tf.int32)
X_test_tensor = tf.convert_to_tensor(X_test.values.astype(str), dtype=tf.string)
y_test_tensor = tf.convert_to_tensor(y_test.values, dtype=tf.int32)

In [ ]:
# # preprocessor = hub.KerasLayer("https://kaggle.com/models/tensorflow/bert/TensorFlow2/en-uncased-preprocess/3")
# # encoder = hub.KerasLayer("https://www.kaggle.com/models/tensorflow/bert/TensorFlow2/bert-en-uncased-l-12-h-768-a-12/2",trainable=True)
model_path = '/content/bert_model'  # Replace with your actual path

# Load the SavedModel
loaded_model = tf.saved_model.load(model_path)

# Create a custom Keras layer
class BertEncoder(tf.keras.layers.Layer):
    def __init__(self, model, **kwargs):
        super(BertEncoder, self).__init__(**kwargs)
        self.model = model

    def call(self, inputs):
        outputs = self.model.signatures['serving_default'](sentences=inputs)
        return outputs['bert_pack_inputs']

# Create the Keras layer
bert_layer = BertEncoder(loaded_model)

# Model definition
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name="text")
outputs = bert_layer(text_input)
outputs_float = tf.keras.layers.Lambda(lambda x: tf.cast(x, tf.float32))(outputs) #wrap tf.cast
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs_float)
l = tf.keras.layers.Dense(16, activation='softmax', name="output")(l)
model = tf.keras.Model(inputs=[text_input], outputs=[l])

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_tensor, y_train_tensor, epochs=10)

Epoch 1/10
43/43  1s 5ms/step - accuracy: 0.1966 - loss: 2.6147
Epoch 2/10
43/43  0s 5ms/step - accuracy: 0.2188 - loss: 2.3355
Epoch 3/10
43/43  0s 5ms/step - accuracy: 0.2724 - loss: 2.1638
Epoch 4/10
43/43  0s 5ms/step - accuracy: 0.3861 - loss: 2.0302
Epoch 5/10
43/43  0s 5ms/step - accuracy: 0.4462 - loss: 1.9254
Epoch 6/10
43/43  0s 5ms/step - accuracy: 0.4641 - loss: 1.8792
Epoch 7/10
43/43  0s 5ms/step - accuracy: 0.4820 - loss: 1.8027
Epoch 8/10
43/43  0s 5ms/step - accuracy: 0.4669 - loss: 1.7877
Epoch 9/10
43/43  0s 5ms/step - accuracy: 0.4791 - loss: 1.7469
Epoch 10/10
43/43  0s 5ms/step - accuracy: 0.4760 - loss: 1.7030

In [ ]:
model.evaluate(X_test_tensor,y_test_tensor)

/usr/local/lib/python3.11/dist-packages/keras/src/models/functional.py:237: UserWarning: The structure of `inputs` doesn't match the expected structure.
Expected: ['text']
Received: inputs=Tensor(shape=(None,))
  warnings.warn(msg)

8/8  1s 7ms/step - accuracy: 0.4581 - loss: 1.7272

[1.7034121751785278, 0.4541666805744171]